/* General answer-choice stuff */
.answer-choice {
    float: left;

    padding: 0;
    margin: 0 4px 4px 0;
    overflow: hidden;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    background: #B5D2E9;
    color: #333;

    font-family: Verdana, Geneva, sans-serif;
    cursor: default;
    position: relative;

    line-height: 36px;

    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    1px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow:         1px 1px 3px rgba(0, 0, 0, 0.5);

    -webkit-transition: background linear 0.2s, color linear 0.2s;
    -moz-transition: background linear 0.2s, color linear 0.2s;
    -ms-transition: background linear 0.2s, color linear 0.2s;
    -o-transition: background linear 0.2s, color linear 0.2s;
    transition: background linear 0.2s, color linear 0.2s;
}

.answer-choice .value,
.answer-choice .icon {
    padding: 0 12px;
}

.answer-choice .value{

}

.answer-choice .icon {

}

.answer-choice .image {
    height: 100%;
}
.answer-choice .image img {
    max-height: 100%;
}


/* question editing stuff */

.question {
    position: relative;

    border-bottom: 1px solid #eee;
}

.question-content {
    padding: 12px;
}

.question-content.has-image {
    margin-left: 48px;
}


.question-content .question-header .question-image {
    display: none;
}

.question-content.has-image .question-header .question-image {
    border: 0;
    width: 38px;
    height: 38px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
}

.question .answer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}