#push,
#footer {
    /* Hide the sticky-footer stuff by default */
    display: none;
}

.page-header h2.page-title {
    margin: 30px 0 10px 0;
}
.page-header .lead {
    margin-bottom: 5px;
}

.credit {
    margin: 20px 0;
}

/* Custom container */
.container {
    margin: 0 auto;
    max-width: 700px;
}

.container > hr {
    margin: 30px 0;
}

.flash .alert {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
}

.flash .alert .close {
    top: 0;
}

.flash {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2000;
}
.flash .alert {
    display: inline-block;
    margin-bottom: 0;
    cursor: pointer;
}
.flash .very-slow-fade {
  -webkit-transition: opacity 2s linear;
     -moz-transition: opacity 2s linear;
       -o-transition: opacity 2s linear;
          transition: opacity 2s linear;
}

.twitter-icon {
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    
    background-image: url("/static/img/twitter-bird-light-bgs.png");
}

.twitter-icon.light {
    background-image: url("/static/img/twitter-bird-dark-bgs.png");
}
