#push,
#footer {
    /* Hide the sticky-footer stuff by default */
    display: none;
}

.page-header h2.page-title {
    margin: 30px 0 10px 0;
}
.page-header .lead {
    margin-bottom: 5px;
}

.credit {
    margin: 0;

    display: block;
    height: 40px;
    overflow: hidden;

    text-align: center;
    padding: 10px;

    font-size: 12px;
    line-height: 18px;
}

/* Approximately the width we need for the current footer content */
@media (min-width: 480px) {
    .credit {
        display: inline;
        height: auto;
        line-height: 60px;

        text-align: left;
        padding: 0;

        /* This ensures it doesn't mess up the layout if something goes wrong */
        text-overflow: ellipsis;
        white-space: nowrap;

        font-size: 14px;
    }
}

/* Custom container */
.container {
    margin: 0 auto;
    max-width: 700px;
}

.flash .alert {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
}

.flash .alert .close {
    top: 0;
}

.flash {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2000;
}
.flash .alert {
    display: inline-block;
    margin-bottom: 0;
    cursor: pointer;
}
.flash .very-slow-fade {
  -webkit-transition: opacity 2s linear;
     -moz-transition: opacity 2s linear;
       -o-transition: opacity 2s linear;
          transition: opacity 2s linear;
}

.twitter-icon {
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../img/twitter-bird-light-bgs.png");
}

.twitter-icon.light {
    background-image: url("../../img/twitter-bird-dark-bgs.png");
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rc-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.40);
    opacity: 0;

    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.rc-overlay.in {
    opacity: 1;
}

.rc-overlay .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
}