.stream {
}

.stream-header {
    overflow: hidden;

    height: 0;
    visibility: hidden;
}

.stream-header.in {
    height: 40px;
    visibility: visible;
    
    -webkit-transition: height 300ms ease-in-out;
     -moz-transition: height 300ms ease-in-out;
       -o-transition: height 300ms ease-in-out;
          transition: height 300ms ease-in-out;
}

.stream-header div {
    height: 40px;
    line-height: 40px;
    text-align: center;
    
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    
    background-color: #96CAE2;
    cursor: pointer;
    
    -webkit-transition: background 300ms ease-in-out;
    -moz-transition: background 300ms ease-in-out;
    -ms-transition: background 300ms ease-in-out;
    -o-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    
    -webkit-text-shadow: 1px 1px 2px rgba(255,255,255,0.6);
    text-shadow: 1px 1px 2px rgba(255,255,255,0.6);
}

.stream-header div:hover {
    background-color: #70BFE4;
}
.stream-header div:active {
    color: #222;
}

.stream-list {
}

.stream-list .stream-item {
    position: relative;
    padding: 9px 12px;
    border-bottom: 1px solid #ddd;
    opacity: 1;
}

.stream-list .stream-item:last-child {
    border-bottom: none;
}

.stream-list .stream-item.new-item {
    background-color: #96CAE2;
    opacity: 0;
}

