@import (less) "vendor/bootstrap.css";
@import (less) "vendor/bootstrap-responsive.css";
@import (less) "modules/rechattr.css";
@import (less) "modules/sticky-footer.css";
@import (less) "modules/questions.css";
@import (less) "edit/timeline.css";
@import (less) "edit/question-list.css";
@import "events/poll-banner";

html {
    /* always show the scrollbar */
    overflow-y: scroll;
}

.question-editor {
    position: relative;
}

.question-editor form {
    margin-bottom: 0;
}

.question-editor .main-fields {
    margin-left: 222px;
    padding: 20px;
}

.question-editor .image-panel {
    position: absolute;
    top: 20px;
    left: 20px;
}

.question-editor .image-box {
    
    width: 200px;
    height: 200px;

    border: 1px solid #555;
    margin-bottom: 5px;
}

.question-editor .image-box img.question-image {
}

.question-editor .old-uploader {
    float: left;
}
.question-editor .old-uploader input.question-image-input {
    width: 200px;
    float: left;
    clear: both;
}

.question-editor .old-uploader label {
    float: left;
    margin-bottom: 0;
}

.question-editor .text-fields {
    position: relative;
}

.question-editor .answers-wrapper .answers-label,
.question-editor label.question-label {
    font-size: 24px;
    float: left;
    padding: 4px 6px;
    margin: 0;
}
.question-editor label.question-label {
    line-height: 30px;
    height: 30px;
}
.question-editor .answers-wrapper .answers-label {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 38px;
    height: 38px;
    width: 26px;
}
.question-editor .question-subject,
.question-editor .question-text {
    line-height: 30px;
    height: 30px;
    margin-bottom: 5px;
    padding: 4px 6px;
}

.question-editor .question-subject {
    font-size: 24px;
    float: left;
}

.question-editor .question-subject,
.question-editor .question-text {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.2);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.2);

    -webkit-transition: background linear 0.2s, color linear 0.2s;
    -moz-transition: background linear 0.2s, color linear 0.2s;
    -o-transition: background linear 0.2s, color linear 0.2s;
    transition: background linear 0.2s, color linear 0.2s;

    border: none;

    background: #333;
    color: #EEE;
}

.question-editor .question-subject:focus,
.question-editor .question-text:focus {
    background: #222;
    color: #EFEFEF;

    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.2);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.2);

    border: none;
}

.question-editor .question-subject {
    width: 150px;
    margin-right: 10px;
}

.question-editor .question-text {
    width: 216px;
    font-size: 16px;
    height: 20px;
    margin-top: 5px;
    line-height: 20px;
}

.question-editor .trigger-controls {
    padding-top: 10px;
}
.question-editor .trigger-controls > span {
    padding: 0 10px;
    min-height: 20px;
}
.question-editor .trigger-controls > span,
.question-editor .trigger-controls label {
    font-size: 16px;
}

.question-editor .question-trigger-time {
    width: 200px;
    margin-bottom: 0;
}

.question-editor input[type="text"].question-trigger-time[disabled] {
    background-color: rgba(100, 100, 100, 0.5);
}

.question-editor input[type="checkbox"].question-trigger-manual {
    margin-right: 6px;
}

.popover {
    /* restore the color on popover, which has a white background */
    color: #333;
}

.question-editor .question-save,
.question-editor .question-cancel {
    margin-top: 20px;
}

.question-editor .form-controls {
    margin: 0;
    text-align: right;
}

.question-editor .answer-palette-instructions {
    
}

.question-editor .palette-wrapper {
    position: relative;
    padding: 0 31px;
    margin-bottom: 10px;

    -webkit-transition: opacity linear 0.2s;
    -moz-transition: opacity linear 0.2s;
    -ms-transition: opacity linear 0.2s;
    -o-transition: opacity linear 0.2s;
    transition: opacity linear 0.2s;

}

.question-editor .palette-wrapper .prev-button,
.question-editor .palette-wrapper .next-button {
    position: absolute;
    top: 0;
    padding: 5px;
    line-height: 35px;

    background: #293C6D;
    border: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -ms-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    transition: all linear 0.1s;
}

.question-editor .palette-wrapper .prev-button:hover,
.question-editor .palette-wrapper .next-button:hover {
    background: #3C5699;
}

.question-editor .palette-wrapper .prev-button:active,
.question-editor .palette-wrapper .next-button:active {
    background: #304988;
    -webkit-box-shadow: inset 0px 0px 3px rgba(100, 100, 100, 0.75);
    -moz-box-shadow:    inset 0px 0px 3px rgba(100, 100, 100, 0.75);
    box-shadow:         inset 0px 0px 3px rgba(100, 100, 100, 0.75);
}

.question-editor .palette-wrapper .prev-button[disabled],
.question-editor .palette-wrapper .next-button[disabled] {
    opacity: 0.4;
    filter: alpha(opacity=40);
    background: transparent;
}

.question-editor .palette-wrapper .prev-button {
    left: 0;
}

.question-editor .palette-wrapper .next-button {
    right: 0;
}

.question-editor .answer-palette {
    padding: 5px 0 0 5px;
    overflow: hidden;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background: #2A3C52;
    -webkit-box-shadow: inset 0px 0px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 0px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 0px 5px rgba(50, 50, 50, 0.75);
}


.question-editor .answer-palette .palette-items {
    width: 300%; /* depends on the # of elements */
    list-style: none;
    margin: 0;
    padding: 0;

    -webkit-transition: left 800ms ease-in-out;
    -moz-transition: left 800ms ease-in-out;
    -ms-transition: left 800ms ease-in-out;
    -o-transition: left 800ms ease-in-out;
    transition: left 800ms ease-in-out;

    position: relative;
    left: 0;
}

.question-editor .answer-palette .palette-items > li {
    float: left;
}

.question-editor .answers-wrapper {
    position: relative;
    margin: 10px 0;
}

.question-editor .answers-wrapper .answer-list {
    list-style: none;
    margin: 0 0 0 38px;
    position: relative;
    min-height: 36px;
    width: 356px;
}

.question-editor .answer-choice {
    cursor: pointer;
    height: 36px;
}

.question-editor .answer-choice .image img {
    width: 36px;
    height: 36px;
}

.question-editor .answer-list .answer-choice.editable:hover {
    background: #D1E5F5;
}


.question-editor .answer-list .answer-choice.editable.editing:hover {
    background: #CFFFF1;
}

.question-editor .answer-list .answer-choice.editing {
    background: #CFFFF1;
}

.question-editor .answer-list .answer-choice.editable .value {
    cursor: text;
}


.question-editor .answer-list .answer-choice.editable .value:hover {
    text-decoration: underline;
}

.question-editor .answer-list .answer-choice {
    /*padding: 3px 7px;*/
    /*border: 5px solid transparent;*/
}

.question-editor .answer-list li.placeholder {
    float: left;
    min-width: 30px;
}

.question-editor .answer-list .answer-choice input.answer-editor {
    position: absolute;
    left: -1px;
    top: -1px;

    width: 100%;
    height: 100%;

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    padding: 0;
    margin: 0;

    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    background: #FFF;
    color: #333;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.question-editor .answer-palette .answer-choice {
    cursor: copy;
    opacity: 0.5;

    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

.question-editor .answer-palette .answer-choice:hover {
    background: #D1E5F5;
    opacity: 1;
}

.question-editor .answer-palette .answer-choice:active {
    background: #67afe6;
}

.question-editor .answers-wrapper .trash-bin {
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 0;
    right: 0;

    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;

    text-align: center;
    border: 4px #293C6D dotted;
    background: transparent;
}

.question-editor .answers-wrapper .trash-bin.trash-activate {
    background: #293C6D;

    -webkit-box-shadow: 0px 0px 3px rgba(85, 85, 85, 0.75);
    -moz-box-shadow:    0px 0px 3px rgba(85, 85, 85, 0.75);
    box-shadow:         0px 0px 3px rgba(85, 85, 85, 0.75);
}