@import url("bootstrap.css");
@import url("bootstrap-responsive.css");
@import url("modules/rechattr.css");
@import url("modules/sticky-footer.css");
@import url("edit/timeline.css");
@import url("edit/poll-banner.css");

.question-editor {
    margin: 10px 0;
    
    background: #333;
    position: relative;
    color: #eee;
}

.question-editor form {
    margin-bottom: 0;
}

.question-editor .main-fields {
    margin-left: 222px;
    padding: 20px;
}

.question-editor .image-panel {
    position: absolute;
    top: 20px;
    left: 20px;
}

.question-editor .image-box {
    
    width: 200px;
    height: 200px;

    border: 1px solid #555;
    margin-bottom: 5px;
}

.question-editor .image-box img.question-image {
}

.question-editor .old-uploader {

}
.question-editor .old-uploader input.question-image-input {
    width: 200px;
}

.question-editor .old-uploader label {
    width: 200px;
    margin-bottom: 0;
}

.question-editor .text-fields {
    position: relative;
}

.question-editor label.question-label,
.question-editor .question-subject,
.question-editor .question-text {
    line-height: 30px;
    height: 30px;
    margin-bottom: 5px;
    padding: 4px 6px;
}

.question-editor label.question-label,
.question-editor .question-subject {
    font-size: 24px;
    float: left;
}

.question-editor .question-subject,
.question-editor .question-text {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);

    -webkit-transition: background linear 0.2s, color linear 0.2s;
    -moz-transition: background linear 0.2s, color linear 0.2s;
    -o-transition: background linear 0.2s, color linear 0.2s;
    transition: background linear 0.2s, color linear 0.2s;

    border: none;

    background: #444;
    color: #EEE;
}

.question-editor .question-subject:focus,
.question-editor .question-text:focus {
    background: #555;
    color: #EFEFEF;

    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);

    border: none;
}

.question-editor .question-subject {
    width: 150px;
    margin-right: 10px;
}

.question-editor .question-text {
    width: 216px;
    font-size: 16px;
    height: 20px;
    margin-top: 5px;
    line-height: 20px;
}

.question-editor .form-controls {
    padding: 19px 20px 20px;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #555;
    text-align: right;
}

.question-editor .answer-palette-instructions {
    
}

.question-editor .palette-wrapper {
    position: relative;
    padding: 0 31px;
    margin-bottom: 10px;
}

.question-editor .palette-wrapper .prev-button,
.question-editor .palette-wrapper .next-button {
    position: absolute;
    top: 0;
    padding: 5px;
    height: 28px;
    line-height: 28px;
}

.question-editor .palette-wrapper .prev-button {
    left: 0;
}

.question-editor .palette-wrapper .next-button {
    right: 0;
}

.question-editor .answer-palette {
    padding: 5px;
    overflow: hidden;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background: #555;
    -webkit-box-shadow: inset 0px 0px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 0px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 0px 5px rgba(50, 50, 50, 0.75);
}


.question-editor .answer-palette .palette-items {
    width: 300%; /* depends on the # of elements */
    list-style: none;
    margin: 0;
    padding: 0;

    -webkit-transition: left 800ms ease-in-out;
    -moz-transition: left 800ms ease-in-out;
    -ms-transition: left 800ms ease-in-out;
    -o-transition: left 800ms ease-in-out;
    transition: left 800ms ease-in-out;

    position: relative;
    left: 0;
}

.question-editor .answer-palette .palette-items > li {
    float: left;
}

.question-editor .answers-wrapper .answer-list {
    list-style: none;
    white-space: nowrap;
    margin: 0;
    padding: 0 5px;
    position: relative;
    overflow: hidden;
}

.question-editor .answer-choice {
    float: left;

    padding: 8px 12px;
    margin: 0 3px 0 0;

    line-height: 14px;

    /* -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; */
    background: #252763;
    /* font-weight: bold; */
    
    font-family: Verdana, Geneva, sans-serif;
    cursor: pointer;

    position: relative;
}

.question-editor .answer-choice.editing {
    background: #fffcd0;
}

.question-editor .answer-choice .value {
    line-height: 14px;
    height: 14px;
}
.question-editor .answer-choice .value.editable:hover {
    border-bottom: 1px dotted rgba(201, 201, 201, 0.9);
}

.question-editor .answer-palette .answer-choice:hover {
    background: #010569;
}

.question-editor .answer-palette .answer-choice:active {
    background: #101741;
}

.question-editor .answer-list .answer-choice {
    padding: 3px 7px;
    border: 5px solid transparent;
}

.question-editor .answer-list .answer-choice input.answer-editor {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;
    border: 0;

    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    background: #fffcd0;
    color: #333;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    /*-webkit-border-radius: 0px;*/
    /*-moz-border-radius: 0px;*/
    /*border-radius: 0px;*/
}
