@import (less) "vendor/bootstrap.css";
@import (less) "vendor/bootstrap-responsive.css";
@import (less) "modules/rechattr.css";
@import (less) "modules/sticky-footer.css";
@import 'shared/layout';
@import 'events/poll_list';
@import 'shared/mixins';

.lead-center {
    margin-top: 150px;
    text-align: center;
    .golden(21px);

    .icon-arrow-left {
        .golden(21px);
        vertical-align: baseline;
    }

    .btn-large {
        font-size: 21px;
    }
}

.account-summary {

    .bottom{
        bottom: @layoutMargins;
    }

    .stats-list {
        list-style-type: none;
        margin:0;
        padding:0;

        li {
            float: left;
            margin-right: 20px;

            border: 1px solid rgb(238, 223, 225);

            padding: 3px 6px;
        }
    }
}
