@import (less) "vendor/bootstrap.css";
@import (less) "vendor/bootstrap-responsive.css";
@import (less) "modules/rechattr.css";
@import (less) "modules/sticky-footer.css";

.poll-list {
    width: 100%;
}

.poll-list tr th:first-child, tr td:first-child {
    padding-left: 0;
}

.poll-list tr th:last-child, tr td:last-child {
    padding-right: 0;
}

.poll-list th {
    font-weight: normal;
    text-align: center;
}

.poll-list .title-header {
    text-align: left;
}

.poll-list td {
    text-align: center;
    padding: 16px 8px;
}

.poll-list tr td {
    font-size: 16px;
    line-height: 24px;
}

.poll-list tr td.poll-title {
    font-weight: bold;
    text-align: left;
}
.poll-list tr td.poll-title .poll-hashtag {
    font-weight: normal;
}

.poll-list tr td.poll-title .poll-timing-info {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    display: block;
}

.poll-list tr td.poll-status .label {
    padding: 3px 6px;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;    
}

.poll-list td.poll-controls .btn {
    margin-left: 10px;
}