@import url("bootstrap.css");
@import url("bootstrap-responsive.css");
@import url("rechattr.css");
@import url("modules/tweetstream.css");
@import url("modules/tweets.css");
@import url("modules/questions.css");
@import url("poll/mobile-poll.css");
@import url("poll/tweet-box.css");
@import url("poll/user-panel.css");


.panel .question .close {
    display: none;
}

.panel .question .question-offset {
    display: none;
}


.panel .stream-list .question {
    background: transparent;
    margin-bottom: 5px;
    border: none;
    padding: 0;

    cursor: pointer;

    -webkit-transition: opacity 200ms linear, background 200ms linear;
    -moz-transition: opacity 200ms linear, background 200ms linear;
    -o-transition: opacity 200ms linear, background 200ms linear;
    transition: opacity 200ms linear, background 200ms linear;
}


.panel .stream-list .question.highlight {
    background: #418556;
}

.panel .stream-list .question:hover {
    background: #555;
}

.panel .stream-list .question.highlight:hover {
    background: #489f69;
}

.panel .feedback-instructions {
    text-align: center;
    color: #aaa;

    font-style: italic;
    font-size: 12px;
    margin-bottom: 5px;
}

.panel .stream-header,
.panel .stream-list .question-subject,
.panel .stream-list .question-text {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

.panel .stream-list .question-subject {
    color: #eee;
    font-size: 18px;
}

.panel .stream-list .question-text {
    color: #ccc;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.panel .stream-list .answer-list {
    display: none;
}




.question-modal .question {
    border: 0;
}

.question-modal .question-content {
    padding: 0;
    margin: 0;
}

.question-modal .answer-list {
    margin-top: 5px;
}

.question-modal .answer-choice {
    margin: 0 6px 6px 0;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    line-height: 48px;

    text-align: center;
}

@media (max-width: 480px) {
    .question-modal .answer-choice {
        min-width: 46%;
        margin: 0 2% 6px 2%;
        border: 0;
    }
}

.question-modal .answer-choice .value,
.question-modal .answer-choice .icon {
    padding: 0 20px;
}


.question-modal .question-content.has-image .question-header {
    text-align: center;
    margin-top: 10px;
}

.question-modal .question-content.has-image .question-image {
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: inline
}

.question-modal .question-content .close {
    display: none;
}

.question-modal .question-content .question-offset {
    display: none;
}

.question-modal .question-subject {
    font-size: 18px;
}

