@import url("vendor/bootstrap.css");
@import url("vendor/bootstrap-responsive.css");
@import url("modules/rechattr.css");
@import url("modules/sticky-footer.css");
@import url("modules/tweetstream.css");
@import url("modules/tweets.css");

/* Main marketing message and sign up button */
.jumbotron {
    margin: 30px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 40px;
    line-height: 1em;
}

.jumbotron .btn-large {
    font-size: 21px;
    line-height: 32px;
}

.jumbotron .sign-in-button .twitter-icon {
    width: 32px;
    height: 32px;
    vertical-align: top;
}

.jumbotron .user-welcome .twitter-icon {
    width: 28px;
    height: 28px;
    vertical-align: bottom;
}

.container > hr {
    margin: 20px 0 0 0;
}

.marketing {
    margin: 0;
}

.marketing h4 {
    margin-top: 28px;
}

@media (min-width: 500px) {
    .jumbotron {
        margin: 60px 0;
    }

    .jumbotron h1 {
        font-size: 72px;
    }

    .marketing {
        margin: 30px 0 20px 0;
    }

    .marketing h4 {
        margin-top: 28px;
    }
}

.social-media {
    margin-top: 10px;
}