@import url("bootstrap.css");
@import url("bootstrap-responsive.css");
@import url("modules/rechattr.css");
@import url("modules/tweetstream.css");
@import url("modules/tweets.css");

body {
    padding-top: 20px;
    padding-bottom: 0px;
}

/* Custom container */
.container {
    margin: 0 auto;
    max-width: 700px;
}
.container > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn-large {
    font-size: 21px;
    line-height: 32px;
}

.jumbotron .sign-in-button .twitter-icon {
    width: 32px;
    height: 32px;
    vertical-align: top;
}

.jumbotron .user-welcome .twitter-icon {
    width: 32px;
    height: 32px;
    vertical-align: bottom;
}

.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}