/* General answer-choice stuff */
.answer-choice {
    float: left;

    padding: 0;
    margin: 0 4px 4px 0;
    overflow: hidden;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    background: #B5D2E9;
    color: #333;

    font-family: Verdana, Geneva, sans-serif;
    cursor: default;
    position: relative;

    line-height: 36px;

    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    1px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow:         1px 1px 3px rgba(0, 0, 0, 0.5);

    -webkit-transition: background linear 0.2s, color linear 0.2s;
    -moz-transition: background linear 0.2s, color linear 0.2s;
    -ms-transition: background linear 0.2s, color linear 0.2s;
    -o-transition: background linear 0.2s, color linear 0.2s;
    transition: background linear 0.2s, color linear 0.2s;
}

.answer-choice .value,
.answer-choice .icon {
    padding: 0 12px;
}

.answer-choice .value{

}

.answer-choice .icon {

}

.answer-choice .image {
    height: 100%;
}
.answer-choice .image img {
    max-height: 100%;
    position: relative;
    top: -1px; /* not sure what this is about */
}


/* question editing stuff */

.question {
    position: relative;

    border-bottom: 1px solid #eee;
}

.question-content {
    padding: 12px;
}

.question-content.has-image {
    margin-left: 48px;
}

.question-header {

}

.question-content .question-header .question-image {
    display: none;
}

.question-content.has-image .question-header .question-image {
    border: 0;
    width: 38px;
    height: 38px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    position: absolute;
    top: 12px;
    left: 12px;
}

.question-header .question-subject {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

.question-header .question-offset {
    font-size: 18px;
    line-height: 24px;
    color: #888;

    float: right;
    margin-right: 10px;
}

.question-header .question-delete {
    float: right;
    border: 1px solid #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 1px 5px;

    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}
.question-header .question-delete:hover {
    background: #FFB5AE;
    color: #720000;
    border-color: #AF6666;
}
.question-header .question-delete:active {
    opacity: 0.5;
    border-color: #720000;
}

.question-text {
    color: #666;
    float: left;

    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 24px;

    position: absolute;
}

.question .answer-list {
    list-style: none;
    margin: 0;
    padding: 0;

    margin-left: 210px;
    height: 26px;
    overflow: hidden;
}

.question .answer-list .answer-choice {
    height: 24px;
    line-height: 24px;
    float: right;
    background: #FFF;
    border: 1px solid #DDD;
    opacity: 0.4;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;

}

.question .answer-list .answer-choice .image img {
    width: 24px;
    height: 24px;
}