.poll-list {

    list-style-type: none;
    padding: 0 10px;
    margin: 0;

    li {
        margin-bottom: 2 * @layoutMargins;

        .event-links {
            width: 90px;
            margin-right: @layoutMargins;
            float: left;

            .btn {
                font-size: 11px;
                padding: 2px 4px;
                margin-bottom: 6px;
                display: block;
            }
        }

        .left-content {
            margin-right: @layoutMargins;
        }
        .right-content {
            margin-left: @layoutMargins;
        }

        .poll-timing {
            .golden(14px);
        }

        .poll-hashtag {
            .golden(11px);
        }

        .poll-title {
            font-weight: bold;
            .golden(18px);
        }

        .status-thumb {
            float: left;
            width: 100px;
            padding: 10px;
            margin-right: @layoutMargins;
            background: #ddd;

            &.time-until {
                background: teal;
                color: white;
                .golden(12px);
                text-align: center;

                .delta {
                    .golden(18px);
                    font-weight: bold;
                }
            }

            .twitter-icon {
                width: 20px;
                height: 20px;
                position: relative;
                top: -1px;
                right: -1px;
            }

            .icon-comment {
                .opacity(70);
                margin: 0 3px;
            }

            .tweet-count,
            .response-count {
                display: block;
                .golden(12px);

                color: #666;
                b {
                    color: #333;
                }
            }
        }

        .poll-sample {
        }
    }
}

