.poll-list {

    list-style-type: none;
    padding: 0 10px;
    margin: 0;

    li {
        margin-bottom: 2 * @layoutMargins;

        .event-links {
            width: 90px;
            margin-right: @layoutMargins;
            float: left;

            .btn {
                font-size: 11px;
                padding: 2px 4px;
                margin-bottom: 6px;
                display: block;
            }
        }

        .left-content {
            margin-right: @layoutMargins;
        }
        .right-content {
            margin-left: @layoutMargins;
        }

        .poll-timing,
        .poll-hashtag {
            .golden(12px);
        }

        .poll-title {
            font-weight: bold;
            .golden(16px);
        }

        .status-thumb {
            float: left;
            width: 100px;
            padding: 10px;
            margin-right: @layoutMargins;
            background: #ddd;

            &.time-until {
                background: teal;
                color: white;
                .golden(12px);
                text-align: center;

                .delta {
                    .golden(18px);
                    font-weight: bold;
                }
            }

            .twitter-icon {
                width: 20px;
                height: 20px;
                position: relative;
                top: -1px;
                right: -1px;
            }

            .icon-comment {
                .opacity(70);
                margin: 0 3px;
            }

            .tweet-count,
            .response-count {
                display: block;
                .golden(12px);

                color: #666;
                b {
                    color: #333;
                }
            }
        }

        .poll-sample {
        }
    }
}

.poll-status {
    @status-size: 8px;
    width: @status-size;
    height: @status-size;
    .border-radius(@status-size / 2);
    margin-top: -2px;
    display: inline-block;
    vertical-align: middle;

    &.poll-status-active {
        background: red
    }

    &.poll-status-ended {
        background: #ccc;
    }

    &.poll-status-pending {
        background: green;
    }
}
/*
.poll-list {
    width: 100%;
}

.poll-list tr th:first-child, tr td:first-child {
    padding-left: 0;
}

.poll-list tr th:last-child, tr td:last-child {
    padding-right: 0;
}

.poll-list th {
    font-weight: normal;
    text-align: center;
}

.poll-list .title-header {
    text-align: left;
}

.poll-list td {
    text-align: center;
    padding: 16px 8px;
}

.poll-list tr td {
    font-size: 16px;
    line-height: 24px;
}

.poll-list tr td.poll-title {
    font-weight: bold;
    text-align: left;
}
.poll-list tr td.poll-title .poll-hashtag {
    font-weight: normal;
}

.poll-list tr td.poll-title .poll-timing-info {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    display: block;
}

.poll-list tr td.poll-status .label {
    padding: 3px 6px;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
}

.poll-list td.poll-controls .btn {
    margin-left: 10px;
}
*/