@import 'mixins';

.main-layout {
    height: 100%;

    .left-column,.right-column {
        height: 100%;
        float: left;
        position: relative;
    }

    @contentWidth: percentage(1 / @phi);

    .left-column {
        width: 100 - @contentWidth;
        text-align:right;

        .left-content {
            height: 100%;
            float: right;

            width: percentage(1 / @phi);
        }
    }
    .right-column {
        width: @contentWidth;

        .right-content {
            height: 100%;
            width: percentage(1 / @phi);
        }
    }

    .navigation {
        position: relative;
        .clearfix();

        .brand {
            float: right;
            margin: @layoutMargins;

            .logo {
                background: #800000;//url("../../img/rechattr.png");
                background-repeat: no-repeat;

                width: @headerHeight;
                height: @headerHeight;
            }
        }

        .nav {
            text-align: right;
            margin: @layoutMargins 0 @layoutMargins;
            right: @headerHeight + 2 * @layoutMargins;
        }
    }

    .header-row {
        height: @headerHeight;
        margin: @layoutMargins;
        position: relative;
    }

    .bottom {
        position: absolute;
        bottom: 0;
    }
}
