$def with(user, poll, tweetForm)
$ sign_in_url = urls.sign_in(urls.poll(poll))
<div class="comment-box header-row right-content">
$if user is None:
    <a class="sign-in-button btn btn-info" href="${sign_in_url}">
        <span class="twitter-icon light"></span> Sign in with Twitter
    </a>
$else:
    $ tweet_url = urls.poll(poll) + '/tweet'
    <form method="POST" action="${tweet_url}" class="tweet-form">
        <div class="tweet-input-wrapper">
            $:tweetForm.tweet.render()
            <div class="hashtag-box fade in" data-hashtag="${poll.twitter_hashtag}"
                    title="The event hashtag will be included in your tweet">
                <span>${poll.twitter_hashtag}</span>
            </div>
        </div>
        $:tweetForm.form_submit.render()
        $:tweetForm.submit.render()
        <div class="tweet-message-box"><span class="tweet-length-message"></span></div>
        <button type="button" class="tweet-cancel btn">Cancel</button>
    </form>
</div>