$def with(polls)
<ul class="poll-list">
$for poll in polls:
    $ poll_url = urls.poll(poll)
    $ poll_edit_url = urls.poll_edit(poll)
    $ poll_results_url = urls.poll_results(poll)
    <li class="clearfix">
        <a href="${poll_url}" class="poll-list-item">
            <div class="poll-title">
                $:elements.poll_status(poll)
                $poll.title
            </div>
            <div class="poll-timing muted">
                $dtutils.nice_date(poll.event_start)
                $dtutils.nice_interval(poll.event_start, poll.event_stop)
            </div>
            <div class="tweet-count muted" title="# tweets">
                <span class="poll-hashtag">$poll.twitter_hashtag</span>
                <i class="twitter-icon"></i>
                $poll.count_tweets()
            </div>
            <div class="response-count muted" title="# responses">
                <i class="icon-comment"></i>
                $poll.count_responses()
            </div>
        </a>
    </li>
</ul>