$def with(polls, current_poll=None)
<ul class="poll-list">
$for poll in polls:
    $ poll_url = urls.poll(poll)
    $ poll_edit_url = urls.poll_edit(poll)
    $ poll_results_url = urls.poll_results(poll)
    $ tweet_count = poll.count_tweets()
    $ response_count = poll.count_responses()
    $if current_poll == poll:
        $ selected = 'active'
    $else:
        $ selected = ''
    <li class="clearfix">
        <a href="${poll_edit_url}" class="poll-list-item ${selected}">
            <div class="poll-title">
                $:elements.poll_status(poll)
                $poll.title
            </div>
            <div class="poll-timing muted">
                $dtutils.nice_date(poll.event_start)
                $dtutils.nice_interval(poll.event_start, poll.event_stop)
            </div>

            <span class="poll-hashtag muted">
                $poll.twitter_hashtag
            </span>
            $if tweet_count:
                <div class="tweet-count muted" title="# tweets">
                    <i class="twitter-icon"></i>
                    $tweet_count
                </div>
            $if response_count:
                <div class="response-count muted" title="# responses">
                    <i class="icon-comment"></i>
                    $response_count
                </div>
        </a>
    </li>
</ul>