$def with (form)
$ start_date = form.start_date
$ start_time = form.start_time
$ stop_date = form.stop_date
$ stop_time = form.stop_time
$ tz_timezone = form.tz_timezone
$ tz_timezone_save = form.tz_timezone_save
<div class="interval-start clearfix">
    <label class="date-time-label" for="$:start_date.id">From</label>
    $:start_date.render()
    $:start_time.render()
    
    <div class="field-note text-error">
        $:start_date.note
        $:start_time.note
    </div>
</div>
<div class="interval-stop clearfix">
    <label class="date-time-label" for="$:stop_date.id">to</label>
    $:stop_time.render()
    $:stop_date.render()
    
    <div class="field-note text-error">
        $:stop_date.note
        $:stop_time.note
    </div>
</div>
<div class="timezone-control">
    <a href="#" class="timezone-short show-timezone-button" title="Set the timezone for this event">
        $if tz_timezone.show:
            $tz_timezone.show
        $else:
            SELECT A TIMEZONE
    </a>
</div>
    <div class="timezone-selector modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Event timezone</h3>
    </div>
    <div class="modal-body">
        $:tz_timezone.render()
        <br/>
        <label class="checkbox timezone-save-default" for="tz_timezone_save_yes">
            $:tz_timezone_save.render()
            <span title="Use this timezone for future events">Save as my default</span>
        </label>

        <div class="field-note text-error">$:tz_timezone.note</div>
        <div class="field-note text-error">$:tz_timezone_save.note</div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Done</a>
    </div>
</div>