$def with (content)
<div class="main-layout">
    <div id="wrap">
        <div class="header">
            <div class="left-column">
                $:content.get('nav', '')
            </div>
            <div class="right-column">
                $:content.get('header', '')
            </div>
        </div>
        <div class="body">
            $:elements.flash()
            $:content
        </div>
        <div id="push"></div>
    </div>
    <div id="footer">
        $:elements.footer()
    </div>
</div>