$def with (content)
<div class="main-layout">
    <div class="left-column column">
        <div class="left-content">
            <div id="wrap">
                $:content.get('nav', '')
                $:content.get('sidebar', '')
                <div id="push"></div>
            </div>
            <div id="footer">
                $:elements.footer()
            </div>
        </div>
    </div>
    <div class="right-column column">
        <div class="right-content">
            $:elements.flash()
            $:content
        </div>
    </div>
</div>