$def with (active, user=None)

$def menu_item(name, text=None, url=None, body=None):
    $if body is None:
        $ body = '<a href="%s">%s</a>' %(url, text)
    $if active == name:
        <li class="active">$:body</li>
    $else:
        <li>$:body</li>
<div class="navigation">
    <a class="brand" href="${urls.home()}">
        <div class="name"></div>
        <div class="logo"></div>
    </a>

    <ul class="navmenu">
        $if user is None:
            $:menu_item('sign_in', '<b>Sign in</b>', urls.sign_in())
        $else:
            <li class="welcome-message">Hello, <span class="screen-name">@${user.username}</span>!</li>

            $ create = elements.button(html="create event", href=urls.new_poll(), icon="icon-time", class_="", flip=True)
            $:menu_item('create', body=create)

            $ poll_list = elements.button(html="my events", href=urls.polls_list(), icon="icon-th-list", class_="", flip=True)
            $:menu_item('myevents', body=poll_list)

            $ sign_out = elements.button(html="sign out", class_="", href=urls.sign_out())
            $:menu_item('sign_out', body=sign_out)

        $:menu_item('welcome', 'about re:chattr', urls.home())
    </ul>
</div>
