$def with (active, user=None)

$def menu_item(name, text=None, url=None, body=None):
    $if body is None:
        $ body = '<a href="%s">%s</a>' %(url, text)
    $if active == name:
        <li class="active">$:body</li>
    $else:
        <li>$:body</li>
<div class="navigation">
    <a class="brand" href="${urls.home()}">
        <div class="logo"></div>
    </a>

    <ul class="nav bottom">
    $# No menu during the demo campaign
    $if 'demo' in campaigns:
        $if user is None:
            $:menu_item('sign_in', '<b>Sign me up!</b>', urls.sign_in())
        $else:
            $:menu_item('sign_out', 'Sign out', urls.sign_out())
    $else:
        $:menu_item('welcome', 'About', urls.home())
        $if user is None:
            $:menu_item('sign_in', '<b>Sign in</b>', urls.sign_in())
        $else:
            $ create_button = elements.create_button(class_="", html="New Event", white=False)
            $:menu_item('create', body=create_button)
            $:menu_item('myevents', 'My Events', urls.polls_list())
            $:menu_item('sign_out', 'Sign out', urls.sign_out())
    </ul>
</div>
