$def with(poll, form)
$ tz_timezone = form.tz_timezone
$ tz_timezone_save = form.tz_timezone_save
<form method="POST" class="poll-editor header-row">
    <div class="bottom">
        $:form.title.render()
        <button type="submit" class="btn btn-large submit-button fade pull-right" disabled=disabled>Save Changes</button>

        <div class="interval-field clearfix">
            $:elements.interval_selector(form)
        </div>

        <label class="hashtag-label">
            Hashtag
            <div class="input-prepend">
                <span class="add-on hashtag-hash">#</span>
                $:form.twitter_hashtag.render()
            </div>
        </label>

        <label class="email-label">
            Notifications
            $:form.email.render()
        </label>

        $:csrf_token_input()
    </div>
</form>