$def with(poll, form)
<form method="POST" class="poll-banner light-on-dark">
    <div class="row-fluid">
        <div class="span8">
            <div class="event-hashtag">
                <span class="hashtag-hash muted">#</span>
                $:form.twitter_hashtag.render()
            </div>
            <div class="event-title">$:form.title.render()</div>
        </div>
        <div class="span4">
            <div class="interval-field">
                <div class="interval-start">
                    <div class="input-prepend editable">
                        <span class="add-on"><i class="icon-white icon-time"></i></span>
                        $:form.start_time.render()
                        $:form.start_date.render()
                    </div>
                </div>
                <div class="interval-stop">
                    <div class="input-prepend editable">
                        <span class="add-on"><i class="icon-white icon-time"></i></span>
                        $:form.stop_time.render()
                        $:form.stop_date.render()
                    </div>
                </div>
                <div class="event-email">$:form.email.render()</div>
            </div>
        </div>
    </div>
    $:csrf_token_input()
</form>

<p class="lead">
    $if poll.is_active():
        Went live
        <span class="time-since-start time-interval">
            $dtutils.full_delta(poll.event_start, long=True)
        </span> ago. Ending in
        <span class="time-before-end time-interval">
            $dtutils.time_to(poll.event_stop, long=True, showDays=True)
        </span>.
    $elif poll.has_started():
        Ended
        <span class="time-since-end time-interval">
            $dtutils.time_ago(poll.event_stop, long=True, showDays=True)
        </span> ago.
    $else:
        Goes live in
        <span class="time-before-start time-interval">
            $dtutils.time_to(poll.event_start, long=True, showDays=True)
        </span>.
</p>

<div class="question-list">
    $for question in poll.questions:
    $:elements.question(question, mode="edit")
</div>
