$def with(poll, form)
<form method="POST" class="poll-editor header-row">
    <div class="bottom">
        $:form.title.render()

        <div class="interval-field">
            <div class="interval-start input-prepend editable">
                <span class="add-on"><i class="icon-time"></i></span>
                $:form.start_time.render()
                $:form.start_date.render()
            </div>
            <i class="icon-arrow-right"></i>
            <div class="interval-stop input-prepend editable">
                $:form.stop_time.render()
                $:form.stop_date.render()
            </div>
        </div>

        <div class="input-prepend">
            <span class="add-on hashtag-hash">#</span>
            $:form.twitter_hashtag.render()
        </div>

        $:form.email.render()

        $:csrf_token_input()
    </div>
</form>