$def with (question,newItem=False)
$if newItem:
    $ newItemClass='new-item'
$else:
    $ newItemClass=''
<div class="question stream-item $newItemClass" data-type="question">
    <div class="question-content">
        $ imgClass = 'has-image' if question.image_src is not None else ''
        <div class="question-header $imgClass">
            $if question.image_src is not None:
                <img class="question-image" src="$question.image_src" />
            <strong class="question-subject">${question.subject}</strong>
            <div class="question-offset">${question.nice_offset()}</div>
        </div>
        <div class="question-text">${question.question_text}</div>
        <ul class="answer-list">
        $for choice in question.get_answer_choices():
            <li class="answer-choice">
                <div class="value">$choice</div>
            </li>
        </ul>
        <div class="btn btn-danger question-delete">Delete</div>
    </div>
</div>