$def with (question)
$ triggeredClass = ''
$ triggeredDisabled = ''
$ editTitle = "Click to edit"
$if question.triggered():
    $ triggeredClass = 'triggered'
    $ triggeredDisabled = 'disabled="disabled"'
    $ editTitle = 'Question was already posted. Not editable.'
<div class="question-editor $triggeredClass"
     data-id="${question.id}"
     data-event-start="${question.poll.iso_event_start()}"
     data-trigger-seconds="${question.trigger_seconds}"
     data-trigger-manual="${question.trigger_manual}">
    <div class="left-column">
        <div class="left-content muted">
            <div class="input-prepend input-append editable">
                <span class="add-on muted">Post at</span>
                <input type="text"
                       class="trigger-time"
                       value="${question.nice_time()}"
                       title="${editTitle}"
                       $triggeredDisabled />
                <span class="add-on muted">or</span>
            </div><br/>
            <div class="input-prepend input-append editable">
                <input type="text"
                       class="trigger-offset"
                       value="${question.nice_offset()}"
                       title="${editTitle}"
                       $triggeredDisabled />
                <span class="add-on muted">after start</span>
            </div>
        </div>
    </div>
    <div class="right-column">
        <div class="right-content">
            <label title="Type a question here" class="question-label">
                <span class="text"><strong>Question</strong></span>
                <input type="text"
                       class="question-text editable"
                       value="${question.question_text}"
                       title="${editTitle}"
                       placeholder="Type your question here"
                       $triggeredDisabled />
            </label>
            $ answer_choices = question.get_answer_choices()
            $ answers = "\n".join(answer_choices)
            $ boxHeight = len(answer_choices) if len(answer_choices) > 0 else 3
            <label title="Type answer choices on separate lines">
                <span class="text">
                    <strong>Answers</strong><br/>
                    <span class="muted">optional</span>
                </span>
                <textarea class="question-answers editable"
                          title="${editTitle}"
                          rows="${boxHeight}"
                          placeholder="(optional) Type multiple choice answers on separate lines"
                          $triggeredDisabled >${answers}</textarea>
            </label>
            <div title="Delete this question" class="close question-delete">&times;</div>
        </div>
    </div>
</div>