$def with (question,newItem=False, highlight=False)
$ newItemClass = 'new-item' if newItem else ''
$ highlightClass = 'highlight' if highlight else ''
<div class="question collapse in stream-item clearfix $newItemClass $highlightClass"
     data-type="question"
     data-id="${question.id}"
     data-trigger-manual="${'true' if question.trigger_manual else ''}"
     data-trigger-seconds="${question.trigger_seconds}">
    $ imgClass = 'has-image' if question.image_src is not None else ''
    <div class="question-content $imgClass">
        <div class="question-header">
            <img class="question-image" src="$question.image_src" />
            <strong class="question-subject">${question.subject}</strong>

            <div title="Delete this question" class="close question-delete">&times;</div>
            <span class="question-offset">@ ${question.nice_offset()}</span>
        </div>
        <div class="question-body">
        <div class="question-text">${question.question_text}</div>
        <ul class="answer-list">
        $for choice in question.get_answer_choices():
            <li class="answer-choice">
                $:choice
            </li>
        </ul>
        </div>
    </div>
</div>