$def with (tweet,newItem=False, highlight=False)
$ newItemClass = 'new-item' if newItem else ''
$ highlightClass = 'highlight' if highlight else ''
<div class="tweet stream-item $newItemClass $highlightClass" data-type="tweet" data-id="${tweet.id}">
    <div class="tweet-content">
        <a class="twitter-author" target="_blank" href="https://twitter.com/${tweet.screen_name}">
            <img class="avatar" src="${tweet.profile_image_url}" alt="${tweet.user_name}" />
            <strong class="full-name">${tweet.user_name}</strong>
            <span class="screen-name">@${tweet.screen_name}</span></a>
        <small class="tweet-time">
            <a target="_blank" class="created-at"
               href="https://twitter.com/${tweet.screen_name}/status/${tweet.id}"
               data-created="${dtutils.dt_timestamp(tweet.get_time())}">$dtutils.time_ago(tweet.created, dateFallback=True)</a>
        </small>
        <div class="tweet-text">$:tweet.enriched_tweet_text()</div>
    </div>
</div>