$def with (stats)
<div class="user-stats">
    <span class="tooltip-below" title="Feedback about this event">
        <span class="feedbacks-label"><i class="icon icon-white icon-check"></i></span>
        <span class="feedbacks-count">${stats['feedbacks']}</span>
    </span>
    <span class="tooltip-below" title="Number of tweets about this event">
        <span class="tweets-label"><span class="twitter-icon light"></span></span>
        <span class="tweets-count">${stats['tweets']}</span>
    </span>
</div>