$def with (form)
$var css: create.css
$var js_app: CreateApp
$var nav: $:elements.nav('create', user=None)
<div class="container">
    <div class="row">
        <div class="span12">
            <h2>New Poll</h2>
            <form method="POST" class="form-horizontal">

                <div class="control-group">
                    <label class="control-label" for="email">
                        $:form.email.description
                    </label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-envelope"></i></span>
                            $:form.email.render()
                        </div>
                        <span class="help-inline">$:form.email.note</span>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="title">
                        $:form.title.description
                    </label>
                    <div class="controls">
                        $:form.title.render()
                        <span class="help-inline">$:form.title.note</span>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="$:form.start_date.id">
                        Event Timing
                    </label>
                    <div class="controls">
                        $:form.start_date.render()
                        $:form.start_time.render()
                        
                        <span class="help-inline">
                            $:form.start_date.note
                            $:form.start_time.note
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        $:form.stop_date.render()
                        $:form.stop_time.render()
                        <span class="help-inline">
                            $:form.stop_date.note
                            $:form.stop_time.note
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="twitter_hashtag">
                        $:form.twitter_hashtag.description
                    </label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on">#</span>
                            $:form.twitter_hashtag.render()
                        </div>
                        <span class="help-inline">$:form.twitter_hashtag.note</span>
                    </div>
                </div> 
                
                $:form.gmt_offset.render()
                
                <div class="form-actions">
                    $:form.submit.render()
                </div>
            </form>
        </div>
    </div>
</div>