$def with (user, poll, form)
$var css: edit.css
$var js_app: edit
$var nav: $:elements.nav('edit', user)
$var poll: $poll.poll_url_code
$var header: $:elements.poll_editor(poll, form)
<div class="question-controls clearfix">
    <div class="left-column">
        <div class="left-content">
            <p class="status">
                $:elements.poll_status(poll)
                Event
                $if poll.is_active():
                    went live
                    <span class="time-since-start time-interval">
                        $dtutils.full_delta(poll.event_start, long=True, smallest="minutes")
                    </span> ago. Ending in
                    <span class="time-before-end time-interval">
                    $dtutils.time_to(poll.event_stop, long=True, showDays=True)</span>.
                $elif poll.has_started():
                    ended
                    <span class="time-since-end time-interval">
                        $dtutils.time_ago(poll.event_stop, long=True, showDays=True)
                    </span> ago.
                $else:
                    goes live in
                    <span class="time-before-start time-interval">
                    $dtutils.time_to(poll.event_start, long=True, showDays=True)</span>.
            </p>
        </div>
    </div>
    <div class="right-column">
        <div class="right-content">
            $if not poll.has_ended():
                $ poll_url = urls.absolute(urls.poll(poll))
                <div class="reminder">
                    <strong>Don't forget!</strong> Share your hashtag
                    <input type="text" class="copy-me editable hashtag" value="${poll.twitter_hashtag}" readonly="true"/>
                    and re:chattr url:
                    <input type="text" class="copy-me editable" value="${poll_url}" readonly="true"/>
                </div>
            <button type="button" class="new-question-button btn btn-success">
                <i class="icon-plus icon-white"></i>
                New Question
            </button>
            <div class="help">
                Create timed questions for your audience<br/>
                <span class="muted">
                    Questions are posted on re:chattr and Twitter
                    at a specific time during your event.
                </span>
            </div>
        </div>
    </div>
</div>
<div class="question-list">
    $for question in poll.sorted_questions():
        <div class="collapse in">
        $:elements.question_editor(question)
        </div>
</div>
