$def with (user, poll, form)
$var css: edit.css
$var js_app: EditApp
$var nav: $:elements.nav('edit', user)
<form method="POST" class="poll-banner">
<div class="row-fluid">
    <div class="span8">
        <div class="event-hashtag">
            <span class="hashtag-hash">#</span>
            $:form.twitter_hashtag.render()
        </div>
        <div class="event-title">$:form.title.render()</div>
    </div>
    <div class="span4">
        <div class="event-timing">
            <div class="interval-start">
                <div class="input-prepend editable">
                    <span class="add-on"><i class="icon icon-white icon-time"></i></span>
                    $:form.start_time.render()
                    $:form.start_date.render()
                </div>
            </div>
            <div class="interval-stop">
                <div class="input-prepend editable">
                    <span class="add-on"><i class="icon icon-white icon-time"></i></span>
                    $:form.stop_time.render()
                    $:form.stop_date.render()
                </div>
            </div>
            <div class="event-email">$:form.email.render()</div>
        </div>
    </div>
</div>
$:csrf_token_input()
</form>
<div class="row-fluid">
    <div class="span12">
        <p class="lead">
        $if poll.is_active():
            This event has already started! It will end in 
            <span class="time-before-end time-interval">$dtutils.time_to(poll.event_stop, long=True, showDays=True)</span>.
        $elif poll.has_started():
            This event ended 
            <span class="time-since-end time-interval">$dtutils.time_ago(poll.event_stop, long=True, showDays=True)</span>
            ago, lasting for 
            <span class="event-duration time-interval">$dtutils.nice_delta(poll.duration())</span>.
        $else:
            This event begins in 
            <span class="time-before-start time-interval">$dtutils.time_to(poll.event_start, long=True, showDays=True)</span>
            and lasts for
            <span class="event-duration time-interval">$dtutils.nice_delta(poll.duration())</span>.
        </p>
        <div class="btn">New Question</div>
        <div class="question-list">
            $for question in poll.questions:
                $:render_stream_item(question)
        </div>
    </div>
</div>