$def with (polls, user)

<h1>re:chattr</h1>

<table>
<tr><th>id</th><th>email</th><th>start</th><th>stop</th><th>twitter</th><th>responses</th><th>tweets</th><th>respond</th><th>results</th><th>edit</th></tr>
$for poll in polls:
    <tr>
        <td>$poll.id</td>
        <td>$poll.email</td>
        <td>$poll.event_start</td>
        <td>$poll.event_stop</td>
        <td>$poll.twitter_hashtag / $poll.user.username</td>
        <td>$len(poll.responses)</td>
        <td>$len(poll.tweets)</td>
        <td><a class="btn" href="$poll.poll_url()">Respond</a></td>
        <td><a class="btn" href="$poll.results_url()">Results</a></td>
        <td><a class="btn" href="$poll.edit_url()">Edit</a></td>
    </tr>
</table>

<p>
<a class="btn btn-primary" href="new">New poll</a>
<a class="btn" href="clear_db">Clear Database</a>
$if user is None:
    <a class="btn btn-success" href="sign_in">Sign in with Twitter!</a>
$else:
    <button class="btn btn-success" disabled="disabled">Already signed in</button>
</p>

<style>
    table {
        width: 100%;
    }
    th, td {
        text-align: center;
    }
</style>
