$def with (polls)

<h1>re:chattr</h1>

<table>
<tr><th>id</th><th>email</th><th>start</th><th>stop</th><th>respond</th><th>results</th><th>edit</th></tr>
$for poll in polls:
    <tr>
        <td>$poll.id</td>
        <td>$poll.user_email</td>
        <td>$poll.event_start</td>
        <td>$poll.event_stop</td>
        <td><a class="btn" href="$poll.poll_url()">Respond</a></td>
        <td><a class="btn" href="$poll.results_url()">Results</a></td>
        <td><a class="btn" href="$poll.edit_url()">Edit</a></td>
    </tr>
</table>

<p>
<a class="btn btn-primary" href="new">New poll</a> <a class="btn" href="clear_db">Clear Database</a>
</p>

<style>
    table {
        width: 100%;
    }
    th, td {
        text-align: center;
    }
</style>
