$def with (content)
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        <title>re:chattr</title>
        <link rel='shortcut icon' href="/static/favicon.png"/>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        $ css = content.get('css', 'main.css')
        $ js_app = content.get('js_app', 'default')

        <link rel="stylesheet" href="${static_file('css/' + css)}">

        $if js_app is not None:
            $if app_context == 'development':
                <script src="$static_file('js/vendor/require.js')"></script>
                <script src="$static_file('js/require-config.js')"></script>
                <script type="text/javascript">
                    //Have to make sure that we override the common config's base url with the real one
                    require.config({
                        'baseUrl': "${static_file('js')}"
                    });
                </script>
            $else:
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script src="${static_file('js/' + js_app + '.js')}"></script>
                <script type="text/javascript">
                    //A shim since jQuery didn't know about define when it initialized
                    define('jquery', function() {
                        return jQuery;
                    });
                </script>
            <!--<script src="/static/js/vendor/modernizr.js"></script>-->

            <script type="text/javascript">
                define('config', {
                    poll: "$content.get('poll', 'undefined')",
                    time: $content.get('current_time', time.time()),
                    end_of_stream: $content.get('end_of_stream', time.time())
                });

                //Start the app
                require(["${js_app}"]);
            </script>
    </head>
    <body>
        <div id="wrap">
            $:content.get('nav', '')
            <div class="container">
                $ flash = web.ctx.flash.get(clear=True)
                <div class="flash">
                $if flash is not None:
                    $ type_map = {'error': 'alert-danger', 'warn': 'alert-warning', 'info': 'alert-info', 'success': 'alert-success'}
                    $ cls = type_map[flash['type']]
                    <div class="alert $cls fade in">
                        <div class="close" data-dismiss="alert" >&times;</div>
                        $flash['message']
                    </div>
                </div>

                $:content

            </div>
            <div id="push"></div>
        </div>
        <div id="footer">
          <div class="container">
            <p class="muted credit"><strong>re:chattr</strong> brought to you by
                <a href="http://twitter.com/anachrobot">@anachrobot</a>/<a href="http://anachrobot.us">katie</a>
                +
                <a href="http://twitter.com/mjbrks">@mjbrks</a>/<a href="http://students.washignton.edu/mjbrooks">michael</a>
            </p>
          </div>
        </div>
        $if ga['id'] is not None:
            $:elements.analytics(ga['id'], ga['domain'])
    </body>
</html>
