$def with (content)
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        <title>re:chattr</title>
        <link rel='shortcut icon' href="/static/favicon.png"/>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        $ css = content.get('css', 'main.css')
        <link rel="stylesheet" href="${static_file('css/' + css)}">

        $if app_context == 'development':
            <script src="$static_file('js/module-config.js')"></script>
            <script type="text/javascript">
                window.require.baseUrl = "${static_file('js')}";
            </script>
            <script src="$static_file('js/vendor/require.js')"></script>

        <!--<script src="/static/js/vendor/modernizr.js"></script>-->

        <script type="text/javascript">
            define('config', {
                poll: "$content.get('poll', 'undefined')",
                time: $content.get('current_time', time.time()),
                end_of_stream: $content.get('end_of_stream', time.time())
            });

            $ js_app = content.get('js_app', None)
            $if js_app:
                require(["${js_app}"]);
        </script>
    </head>
    <body>
        <div id="wrap">
            $:content.get('nav', '')
            <div class="container">
                $ flash = web.ctx.flash.get(clear=True)
                <div class="flash">
                $if flash is not None:
                    $ type_map = {'error': 'alert-danger', 'warn': 'alert-warning', 'info': 'alert-info', 'success': 'alert-success'}
                    $ cls = type_map[flash['type']]
                    <div class="alert $cls fade in">
                        <div class="close" data-dismiss="alert" >&times;</div>
                        $flash['message']
                    </div>
                </div>

                $:content

            </div>
            <div id="push"></div>
        </div>
        <div id="footer">
          <div class="container">
            <p class="muted credit"><strong>re:chattr</strong> brought to you by
                <a href="http://twitter.com/anachrobot">@anachrobot</a>/<a href="http://anachrobot.us">katie</a>
                +
                <a href="http://twitter.com/mjbrks">@mjbrks</a>/<a href="http://students.washignton.edu/mjbrooks">michael</a>
            </p>
          </div>
        </div>

    </body>
</html>
