$def with (content)
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        <title>re:chattr</title>
        <link rel='shortcut icon' href="/static/favicon.png"/>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/css/main.css">
		
		<script src="/static/js/vendor/modernizr.js"></script>
        <script type="text/javascript">
            window.rechattr = {
                config: {
                    app_name: "$content.get('js_app', 'undefined')",
                    poll: "$content.get('poll', 'undefined')",
                    time: $time.time()
                },
                classes: {},
                extension: {}
            };
        </script>
    </head>
    <body>

        <div class="container">
            $ flash = web.ctx.flash.get(clear=True)
            $if flash is not None:
                $ type_map = {'error': 'alert-danger', 'warn': 'alert-warning', 'info': 'alert-info'}
                $ cls = type_map[flash['type']]
                <div class="flash alert $cls">
                    $flash['message']
                </div>
        
            $:content
        </div>
        
        <div class="overlay hide fade">
            <div class="message">Submitted...</div>
        </div>

        
        <script src="/static/js/vendor/jquery.js"></script>
        <script src="/static/js/vendor/jquery.event.move.js"></script>
        <script src="/static/js/vendor/jquery.event.swipe.js"></script>
        <script src="/static/js/vendor/bootstrap.js"></script>
        <script src="/static/js/vendor/bootstrap-datepicker.js"></script>
        <script src="/static/js/vendor/bootstrap-dropdownmenu.js"></script>
        <script src="/static/js/vendor/moment.js"></script>
        
        <script src="/static/js/util.js"></script>
        <script src="/static/js/stream.js"></script>
        <script src="/static/js/poll.js"></script>
        <script src="/static/js/create.js"></script>
        <script src="/static/js/mobile-panels.js"></script>
        <script src="/static/js/feedback-request.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>
