$def with (user, polls)
$var css: myevents.css
$var nav: $:elements.nav('myevents', user)
$var header: $:elements.account_summary(user, polls)
<div class="event-list-controls clearfix content-header">
    <div class="left-column">
        <div class="left-content">
            <p class="info">Have another event coming up?</p>
        </div>

    </div>
    <div class="right-column">
        <div class="right-content">
            $:elements.button(html="New Event", icon="icon-white icon-time", href=urls.new_poll(), class_="btn btn-success action-button create-event-button")
            <div class="help">
                Create a new event for your talk, presentation, or whatever!<br/>
                <span class="muted">
                    Use re:chattr to interact with your audience and
                    gather a permanent record of discussions.
                </span>
            </div>
        </div>
    </div>
</div>
$if len(polls):
    <ul class="poll-list">
        $for poll in polls:
        $ poll_url = urls.poll(poll)
        $ poll_edit_url = urls.poll_edit(poll)
        $ poll_results_url = urls.poll_results(poll)

        <li class="clearfix">
            <div class="left-column">
                <div class="left-content">
                    <div class="poll-title">
                        $:elements.poll_status(poll)
                        $poll.title
                    </div>
                    <div class="poll-timing muted">
                        $poll.nice_local_interval()
                    </div>

                    <div class="poll-hashtag muted">
                        $poll.twitter_hashtag
                    </div>
                </div>
            </div>
            <div class="right-column">
                <div class="right-content">
                    $:elements.poll_status_thumb(poll)

                    <div class="event-links">
                        <a class="btn" href="${poll_edit_url}">Edit Event</a>
                        <a class="btn" href="${poll_url}">View Stream</a>
                    </div>
                    <div class="poll-sample">
                        <b>@example</b> A selected tweet would go here to show what is happening in the discussion.
                    </div>
                </div>
            </div>
        </li>
    </ul>
