$def with (user, polls)
$var css: myevents.css
$var nav: $:elements.nav('myevents', user)
$var sidebar: $:elements.event_list(polls)
<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
            <h2 class="page-title">My Events</h2>
            <p class="lead">View and manage your events on re:chattr.
                $:elements.create_button(class_="btn btn-success create-event-button pull-right")
            </p>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">

    </div>
</div>
