$def with (poll, items, tweetForm)
$var js_app: PollApp
$var poll: $poll.poll_url_code
<div class="row-fluid">
    <div class="feedback panel in">
        <div class="segment-title rotate panel-title">
            <span class="brand">re:chattr</span>
            <span class="poll-title">$poll.title</span>
            <span class="twitter-info">$poll.twitter_hashtag $poll.twitter_user</span>
        </div>
        <div class="feedback-content panel-content">
            <p><button class="btn btn-primary new-tweet-button">Tweet!</button></p>
            <p>Blah blah blah blah</p>
            <p>blah blah asdf asdf asdf </p>
            <p>this is some placeholder text</p>
        </div>
    </div>
    
    <div class="feedback-notify glow-notify"></div>
    
    <div class="chatter panel out">
        <div class="segment-title rotate panel-title">
                <span class="brand">re:chattr</span>
                <span class="poll-title">$poll.title</span>
                <span class="twitter-info">$poll.twitter_hashtag $poll.twitter_user</span>
        </div>
        <div class="chatter-content panel-content">            
            <div class="stream-header">
            </div>
            <div class="stream">
                <div class="stream-list">
                $for item in items:
                    $:render_stream_item(item)
                </div>
            </div>
        </div>
    </div>
    
    <div class="chatter-notify glow-notify"></div>
    
    <div class="modal tweet-modal fade hide">
        <div class="modal-header">
            <h3>Write a new tweet</h3>
        </div>
        <div class="modal-body">
            <form method="POST" class="tweet-form">
                $:tweetForm.tweet.render()
                $:tweetForm.form_submit.render()
                $:tweetForm.submit.render()
                <div class="tweet-length-message"></div>
            </form>
        </div>
    </div>
    <div class="modal-box">
        <form method="POST">
            $ hideClass = ""
            $for question in poll.definition_object()['questions']:
            
                <div class="answer-list $hideClass" data-question-name="$question['name']">
                $ hideClass="fade hide"
            
                $for choice in question['choices']:
                    <button type="button" class="answer-btn" data-option="$choice['value']">$choice['label']</button>
                </div>

        </form>
    </div>
</div>

