$def with (user=None)
$var css: welcome.css
$var layout: linear_layout
$ sign_in_url = urls.sign_in(urls.home())
$ sign_out_url = urls.sign_out()
$ polls_url = urls.polls_list()
<div class="jumbotron">
    <div class="splash clearfix">
        <h1>
            <div class="brand"></div>
            Welcome to re:chattr!
        </h1>
        <p class="lead"><strong>re:chattr</strong> helps you manage feedback
            and discussion about your presentations, talks, and other events.</p>
    </div>
    <div class="signup clearfix">
        <div class="lead">
            Follow
            <a href="https://twitter.com/rechattr" target="_blank">@rechattr</a>
            on Twitter to find out when we are ready for testing.
        </div>
        <p class="social-media">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rechattr.com" data-text="Check out re:chattr - feedback and discussion for your event!" data-via="rechattr" data-size="large">Tweet</a>
            <a href="https://twitter.com/rechattr" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @rechattr</a>
        </p>
    </div>
</div>
<hr>
<div class="row-fluid marketing">
    <div class="span6">
        <h4>Manage your backchannel</h4>
        <p>People may already be talking about your event on Twitter.
           <strong>re:chattr</strong> collects that discussion and saves it in one place.</p>
           
        <h4>Targetted feedback</h4>
        <p>Ever wonder what your audience thought about a specific slide or idea in your presentation?
           Use <strong>re:chattr</strong>'s feedback polls to ask your audience simple multiple-choice questions.</p>
    </div>
    <div class="span6">
        <h4>Here's how it works:</h4>
        <p>
        <ol>
            $if user is None:
                <li><a href="$sign_in_url">Sign in using Twitter</a> to set up a new event.</li>
            $else:
                <li>Sign in using Twitter to set up a new event.</li>
            <li>Come up with a special #hashtag for your event and set up a few questions for your audience.</li>
            <li>Give your presentation! (remember to tell your audience to tweet using your #hashtag)</li>
            <li>Visit <strong>re:chattr</strong> for the results.</li>
        </ol>
        
        </p>
    </div>
    <div class="span6">
        
    </div>
</div>
