html, body {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    background: #efefef;
}

.navbar-fixed-top {
    margin: 0;
    position: fixed;
}

.navbar-inner {
    min-height: 30px;
}

.navbar .container {
    width: 100%;
}

.navbar .brand {
    margin: 0;
}

.navbar .user-panel {
    padding: 1px 0 1px 0;
    margin-right: 3px;
}

.navbar .user-panel .screen-name {
    padding: 5px;
    color: #ccc;
    font-size: 12px;
}

.navbar .user-panel .new-tweet-button,
.navbar .user-panel .sign-in-button {
    position: static;
    padding: 5px 10px;
    margin: 0;
}

.container, .row-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: none;
}

#wrap > .container {
    width: 100%;
    position: relative;
    padding-top: 51px;
}

/* This triggers when a 480px tall screen goes to landscape */
@media (min-width: 450px) {

    .navbar .brand {
        padding-left: 12px;
    }

    .navbar-fixed-top .navbar-inner {
        padding: 0;
    }

    .navbar .container {

    }

    .navbar .user-panel {
        padding: 5px 0 5px 0;
        margin-right: 12px;
    }

    .navbar .user-panel .new-tweet-button,
    .navbar .user-panel .sign-in-button {
        padding: 1px 10px;
    }

    #wrap > .container {
        padding-top: 42px;
    }
}

.panel {
    /*background-color: #EFEFEF;*/
    width: 100%;
}

.welcome {
    padding-left: 8px;
    margin-top: 15px;
    text-align: center;
}

.welcome .poll-title {
    color: #006217;
}

.glow-notify {
    position: absolute;
    top: 50%;
    height: 0;

    width: 200px;
    border-radius: 100px;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    -webkit-box-shadow: none;
    box-shadow: none;
}

.glow-notify.in {
    height: 100%;
    top: 0;

    -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 248, 46, 1);
    box-shadow: 0px 0px 10px 10px rgba(255, 248, 46, 1);
}

/* Compress things up a bit */
.panel .stream-list .tweet {
    min-height: auto;
    padding: 9px 9px;
}

.panel .stream-list .tweet .tweet-content {
    margin-left: 42px;
}

.panel .stream-list .tweet .avatar {
    width: 32px;
    height: 32px;
    top: 12px;
    left: 9px;
}

@media (min-width: 480px) {
    .panel .stream-list .tweet {
        min-height: 51px;
        padding: 9px 12px;
    }

    .panel .stream-list .tweet .tweet-content {
        margin-left: 58px;
    }

    .panel .stream-list .tweet .avatar {
        width: 48px;
        height: 48px;
        left: 12px;
    }
}