

.question .answer-list .answer-choice {
    float: none;
    padding: 5px;
    text-align: center;

    margin-top: 10px;
    margin-bottom: 5px;

    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow:         2px 2px 4px rgba(0, 0, 0, 0.5);

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    background: #F7F5E2;

    cursor: pointer;
}

.question .answer-list .answer-choice:hover {
    background: #FAF2B4;
}
.question .answer-list .answer-choice:active {
    -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    3px 3px 4px rgba(0, 0, 0, 0.5);
    box-shadow:         3px 3px 4px rgba(0, 0, 0, 0.5);
}
