.tweet-submit {
    float: right;
}

.tweet-message-box {
    float: right;
    margin-right: 10px;
    font-size: 18px;
    line-height: 30px; /* as high as the submit button */
}

.tweet-input-wrapper {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    
    overflow: auto;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    display: inline-block;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
          
    height: 130px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.tweet-input-wrapper.focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.tweet-input-wrapper .hashtag-box {
    cursor: text;
    height: 26px;
    line-height: 20px;
    padding: 4px 6px;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tweet-input-wrapper .hashtag-box span {
    color: #08C;
}

.tweet-input {
    margin: 0;
    padding: 0;
    border: none;
    
    display: inline-block;
    resize: none;
    height: 100px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            
    background-color: none;
    -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
    -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}
.tweet-input:focus {
    border: none;
    outline: none;

    -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.tweet-length-message {
    color: green;
}

.tweet-length-message.length-warning {
    color: orange;
}

.tweet-length-message.length-invalid {
    color: red;
}

.tweet-modal .modal-header h3 {
    font-size: 16px;
    line-height: 20px;
}